build/ga7-win64/ALL_BUILD.vcxproj
build/ga7-win64/ALL_BUILD.vcxproj.filters
build/ga7-win64/ALWAYS_COPY_DATA.vcxproj
build/ga7-win64/ALWAYS_COPY_DATA.vcxproj.filters
build/ga7-win64/CMakeCache.txt
build/ga7-win64/CMakeFiles/1391408bfd3c47ede4feb3a5645a9029/ALWAYS_COPY_DATA.rule
build/ga7-win64/CMakeFiles/1391408bfd3c47ede4feb3a5645a9029/INSTALL_force.rule
build/ga7-win64/CMakeFiles/1391408bfd3c47ede4feb3a5645a9029/generate.stamp.rule
build/ga7-win64/CMakeFiles/1862017e6b9fe1ac69538611e8be8272/INSTALL_force.rule
build/ga7-win64/CMakeFiles/1862017e6b9fe1ac69538611e8be8272/uninstall.rule
build/ga7-win64/CMakeFiles/3.6.2/CMakeCCompiler.cmake
build/ga7-win64/CMakeFiles/3.6.2/CMakeCXXCompiler.cmake
build/ga7-win64/CMakeFiles/3.6.2/CMakeDetermineCompilerABI_C.bin
build/ga7-win64/CMakeFiles/3.6.2/CMakeDetermineCompilerABI_CXX.bin
build/ga7-win64/CMakeFiles/3.6.2/CMakeRCCompiler.cmake
build/ga7-win64/CMakeFiles/3.6.2/CMakeSystem.cmake
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/CMakeCCompilerId.c
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/CompilerIdC.vcxproj
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.1.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.11.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.35.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.47.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.61.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.1.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.11.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.13.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.14.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.19.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.26.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.32.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.34.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.35.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.41.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.45.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.47.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.48.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.56.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.58.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.61.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.7.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.9.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.1.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.11.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.26.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.35.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.41.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.47.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.61.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/ga7-win64/CMakeFiles/3.6.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/ga7-win64/CMakeFiles/TargetDirectories.txt
build/ga7-win64/CMakeFiles/cmake.check_cache
build/ga7-win64/CMakeFiles/feature_tests.bin
build/ga7-win64/CMakeFiles/feature_tests.cxx
build/ga7-win64/CMakeFiles/generate.stamp
build/ga7-win64/CMakeFiles/generate.stamp.depend
build/ga7-win64/CMakeFiles/generate.stamp.list
build/ga7-win64/Debug/VeraMono.ttf
build/ga7-win64/Debug/data/scripts/move.lua
build/ga7-win64/Debug/data/shaders/ga_constant_color_frag.glsl
build/ga7-win64/Debug/data/shaders/ga_constant_color_vert.glsl
build/ga7-win64/Debug/data/shaders/ga_unlit_texture_frag.glsl
build/ga7-win64/Debug/data/shaders/ga_unlit_texture_vert.glsl
build/ga7-win64/Debug/data/textures/blue.png
build/ga7-win64/Debug/data/textures/green.png
build/ga7-win64/Debug/data/textures/red.jpg
build/ga7-win64/Debug/data/textures/red.png
build/ga7-win64/Debug/data/textures/rpi.png
build/ga7-win64/Debug/data/textures/triangle.png
build/ga7-win64/Debug/ga.exp
build/ga7-win64/INSTALL.vcxproj
build/ga7-win64/INSTALL.vcxproj.filters
build/ga7-win64/SDL2-2.0.5/ALL_BUILD.vcxproj
build/ga7-win64/SDL2-2.0.5/ALL_BUILD.vcxproj.filters
build/ga7-win64/SDL2-2.0.5/CMakeFiles/generate.stamp
build/ga7-win64/SDL2-2.0.5/CMakeFiles/generate.stamp.depend
build/ga7-win64/SDL2-2.0.5/INSTALL.vcxproj
build/ga7-win64/SDL2-2.0.5/INSTALL.vcxproj.filters
build/ga7-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2-static.tlog/CL.command.1.tlog
build/ga7-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2-static.tlog/CL.read.1.tlog
build/ga7-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2-static.tlog/CL.write.1.tlog
build/ga7-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2-static.tlog/Lib-link.read.1.tlog
build/ga7-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2-static.tlog/Lib-link.write.1.tlog
build/ga7-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2-static.tlog/SDL2-static.lastbuildstate
build/ga7-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2-static.tlog/custombuild.command.1.tlog
build/ga7-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2-static.tlog/custombuild.read.1.tlog
build/ga7-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2-static.tlog/custombuild.write.1.tlog
build/ga7-win64/SDL2-2.0.5/SDL2-static.dir/Debug/SDL2-static.tlog/lib.command.1.tlog
build/ga7-win64/SDL2-2.0.5/SDL2-static.vcxproj
build/ga7-win64/SDL2-2.0.5/SDL2-static.vcxproj.filters
build/ga7-win64/SDL2-2.0.5/SDL2.sln
build/ga7-win64/SDL2-2.0.5/SDL2main.dir/Debug/SDL2main.tlog/CL.command.1.tlog
build/ga7-win64/SDL2-2.0.5/SDL2main.dir/Debug/SDL2main.tlog/CL.read.1.tlog
build/ga7-win64/SDL2-2.0.5/SDL2main.dir/Debug/SDL2main.tlog/CL.write.1.tlog
build/ga7-win64/SDL2-2.0.5/SDL2main.dir/Debug/SDL2main.tlog/Lib-link.read.1.tlog
build/ga7-win64/SDL2-2.0.5/SDL2main.dir/Debug/SDL2main.tlog/Lib-link.write.1.tlog
build/ga7-win64/SDL2-2.0.5/SDL2main.dir/Debug/SDL2main.tlog/SDL2main.lastbuildstate
build/ga7-win64/SDL2-2.0.5/SDL2main.dir/Debug/SDL2main.tlog/custombuild.command.1.tlog
build/ga7-win64/SDL2-2.0.5/SDL2main.dir/Debug/SDL2main.tlog/custombuild.read.1.tlog
build/ga7-win64/SDL2-2.0.5/SDL2main.dir/Debug/SDL2main.tlog/custombuild.write.1.tlog
build/ga7-win64/SDL2-2.0.5/SDL2main.dir/Debug/SDL2main.tlog/lib.command.1.tlog
build/ga7-win64/SDL2-2.0.5/SDL2main.vcxproj
build/ga7-win64/SDL2-2.0.5/SDL2main.vcxproj.filters
build/ga7-win64/SDL2-2.0.5/cmake_install.cmake
build/ga7-win64/SDL2-2.0.5/cmake_uninstall.cmake
build/ga7-win64/SDL2-2.0.5/include/SDL_config.h
build/ga7-win64/SDL2-2.0.5/uninstall.vcxproj
build/ga7-win64/SDL2-2.0.5/uninstall.vcxproj.filters
build/ga7-win64/ZERO_CHECK.vcxproj
build/ga7-win64/ZERO_CHECK.vcxproj.filters
build/ga7-win64/cmake_install.cmake
build/ga7-win64/ga.dir/Debug/ga.tlog/CL.command.1.tlog
build/ga7-win64/ga.dir/Debug/ga.tlog/CL.read.1.tlog
build/ga7-win64/ga.dir/Debug/ga.tlog/CL.write.1.tlog
build/ga7-win64/ga.dir/Debug/ga.tlog/custombuild.command.1.tlog
build/ga7-win64/ga.dir/Debug/ga.tlog/custombuild.read.1.tlog
build/ga7-win64/ga.dir/Debug/ga.tlog/custombuild.write.1.tlog
build/ga7-win64/ga.dir/Debug/ga.tlog/ga.lastbuildstate
build/ga7-win64/ga.dir/Debug/ga.tlog/ga.write.1u.tlog
build/ga7-win64/ga.dir/Debug/ga.tlog/link.command.1.tlog
build/ga7-win64/ga.dir/Debug/ga.tlog/link.read.1.tlog
build/ga7-win64/ga.dir/Debug/ga.tlog/link.write.1.tlog
build/ga7-win64/ga.vcxproj
build/ga7-win64/ga.vcxproj.filters
build/ga7-win64/ga7.VC.VC.opendb
build/ga7-win64/ga7.VC.db
build/ga7-win64/ga7.sln
build/ga7-win64/lua53.dir/Debug/lua53.tlog/CL.command.1.tlog
build/ga7-win64/lua53.dir/Debug/lua53.tlog/CL.read.1.tlog
build/ga7-win64/lua53.dir/Debug/lua53.tlog/CL.write.1.tlog
build/ga7-win64/lua53.dir/Debug/lua53.tlog/Lib-link.read.1.tlog
build/ga7-win64/lua53.dir/Debug/lua53.tlog/Lib-link.write.1.tlog
build/ga7-win64/lua53.dir/Debug/lua53.tlog/custombuild.command.1.tlog
build/ga7-win64/lua53.dir/Debug/lua53.tlog/custombuild.read.1.tlog
build/ga7-win64/lua53.dir/Debug/lua53.tlog/custombuild.write.1.tlog
build/ga7-win64/lua53.dir/Debug/lua53.tlog/lib.command.1.tlog
build/ga7-win64/lua53.dir/Debug/lua53.tlog/lua53.lastbuildstate
build/ga7-win64/lua53.vcxproj
build/ga7-win64/lua53.vcxproj.filters
build/ga7-win64/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/ga7-win64/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.command.1.tlog
build/ga7-win64/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.read.1.tlog
build/ga7-win64/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.write.1.tlog
build/ga7-win64/x64/Debug/ALWAYS_COPY_DATA/ALWAYS_COPY_DATA.tlog/ALWAYS_COPY_DATA.lastbuildstate
build/ga7-win64/x64/Debug/ALWAYS_COPY_DATA/ALWAYS_COPY_DATA.tlog/custombuild.command.1.tlog
build/ga7-win64/x64/Debug/ALWAYS_COPY_DATA/ALWAYS_COPY_DATA.tlog/custombuild.read.1.tlog
build/ga7-win64/x64/Debug/ALWAYS_COPY_DATA/ALWAYS_COPY_DATA.tlog/custombuild.write.1.tlog
build/ga7-win64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/ga7-win64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
build/ga7-win64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
build/ga7-win64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
